.book-button {
  position: absolute;
  top: 27%;
  left: 65%;
}

/* styles.css */

.booking-page {
  position: relative;
}

.blur-background {
  filter: blur(5px);
}

.booking-form {
  color: black;
  width: 500px;
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(228, 187, 187);
  opacity: 0.8;
  padding: 20px;
  border-radius: 10px;
  z-index: 1;
}
